(
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
G,
Gbreve,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
Hcircumflex,
I,
IJ,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Germandbls,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Saltillo,
Lslash.001,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
S.ss01,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
hcircumflex,
i,
idotless,
iacute,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jacute,
jcircumflex,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
germandbls,
t,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ubreve,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
saltillo,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
a.ss01,
f_f,
f_f_i,
f_f_l,
f_f_t,
f_t,
fi,
fl,
t_t,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"Gestroke-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Che-cy",
"Tse-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Yat-cy",
"Fita-cy",
"Izhitsa-cy",
"Zhedescender-cy",
"Kadescender-cy",
"Endescender-cy",
"Ustraight-cy",
"Ustraightstroke-cy",
"Hadescender-cy",
"Chedescender-cy",
"Shha-cy",
"Palochka-cy",
"Schwa-cy",
"Imacron-cy",
"Obarred-cy",
"Umacron-cy",
"De-cy.loclBGR",
"El-cy.loclBGR",
"Ef-cy.loclBGR",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"gestroke-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"che-cy",
"tse-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"yat-cy",
"fita-cy",
"izhitsa-cy",
"zhedescender-cy",
"kadescender-cy",
"endescender-cy",
"ustraight-cy",
"ustraightstroke-cy",
"hadescender-cy",
"chedescender-cy",
"shha-cy",
"palochka-cy",
"schwa-cy",
"imacron-cy",
"obarred-cy",
"umacron-cy",
"ve-cy.loclBGR",
"ge-cy.loclBGR",
"de-cy.loclBGR",
"zhe-cy.loclBGR",
"ze-cy.loclBGR",
"ii-cy.loclBGR",
"iishort-cy.loclBGR",
"ka-cy.loclBGR",
"el-cy.loclBGR",
"pe-cy.loclBGR",
"te-cy.loclBGR",
"tse-cy.loclBGR",
"sha-cy.loclBGR",
"shcha-cy.loclBGR",
"softsign-cy.loclBGR",
"hardsign-cy.loclBGR",
"yu-cy.loclBGR",
"be-cy.loclSRB",
"ge-cy.loclSRB",
"de-cy.loclSRB",
"pe-cy.loclSRB",
"te-cy.loclSRB",
"sha-cy.loclSRB",
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
Iotadieresis,
Upsilondieresis,
KaiSymbol,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotatonos,
iotadieresis,
iotadieresistonos,
upsilontonos,
upsilondieresis,
upsilondieresistonos,
omicrontonos,
omegatonos,
alphatonos,
epsilontonos,
etatonos,
"alef-hb",
"bet-hb",
"gimel-hb",
"dalet-hb",
"he-hb",
"vav-hb",
"zayin-hb",
"het-hb",
"tet-hb",
"yod-hb",
"kafFinal-hb",
"kaf-hb",
"lamed-hb",
"memFinal-hb",
"mem-hb",
"nunFinal-hb",
"nun-hb",
"samekh-hb",
"ayin-hb",
"peFinal-hb",
"pe-hb",
"tsadiFinal-hb",
"tsadi-hb",
"qof-hb",
"resh-hb",
"shin-hb",
"tav-hb",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
three.ss01,
fraction,
onehalf,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
anoteleia,
questiongreek,
"geresh-hb",
"gershayim-hb",
"maqaf-hb",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
exclamationquestion,
exclamdouble,
numbersign,
slash,
backslash,
ellipsis.001,
ellipsis.002,
hyphen,
endash,
emdash,
underscore,
wavedash,
wavydash,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
anglebracketleft,
anglebracketright,
cornerbracketleft,
cornerbracketright,
dblanglebracketleft,
dblanglebracketright,
tortoiseshellbracketleft,
tortoiseshellbracketright,
whitecornerbracketleft,
whitecornerbracketright,
whitelenticularbracketleft,
whitelenticularbracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
"numeral-greek",
"lowernumeral-greek",
baht,
heavyBlackHeart_VS16,
rainbow,
globeMeridians,
waxingCrescentMoonSymbol,
firstQuarterMoonSymbol,
waxingGibbousMoonSymbol,
crescentMoon,
eyes,
eye,
gemStone,
brokenHeart,
blueHeart,
greenHeart,
yellowHeart,
purpleHeart,
droplet,
speechBalloon,
creditCard,
opticalDisc,
dvd,
fileFolder,
openFileFolder,
pageFacingUp,
closedBook,
telephoneReceiver,
mobilePhone,
camera,
leftMagnifyingGlass,
rightMagnifyingGlass,
lock,
openLock,
radioButton,
largeRedCircle,
largeBlueCircle,
largeOrangeDiamond,
largeBlueDiamond,
orangeDiamond,
blueDiamond,
oneClock,
twoClock,
threeClock,
fourClock,
fiveClock,
sixClock,
sevenClock,
eightClock,
nineClock,
tenClock,
elevenClock,
twelveClock,
oneThirtyClock,
twoThirtyClock,
threeThirtyClock,
fourThirtyClock,
fiveThirtyClock,
sixThirtyClock,
sevenThirtyClock,
eightThirtyClock,
nineThirtyClock,
tenThirtyClock,
elevenThirtyClock,
twelveThirtyClock,
blackHeart,
grinningFace,
grinningFaceWithSmilingEyes,
faceWithTearsOfJoy,
smilingFaceWithOpenMouth,
smilingFaceWithOpenMouthAndSmilingEyes,
smilingFaceWithOpenMouthAndColdSweat,
smilingFaceWithOpenMouthAndTightlyClosedEyes,
smilingFaceWithSmilingEyes,
relievedFace,
neutralFace,
expressionlessFace,
pensiveFace,
faceWithStuckOutTongue,
faceWithStuckOutTongueAndTightlyClosedEyes,
disappointedFace,
faceWithOpenMouth,
dizzyFace,
faceWithoutMouth,
slightlySmilingFace,
upsideDownFace,
faceWithRollingEyes,
noEntrySign,
octagonalSign,
largeOrangeCircle,
largeYellowCircle,
largeGreenCircle,
largePurpleCircle,
largeBrownCircle,
largeRedSquare,
largeBlueSquare,
largeOrangeSquare,
largeYellowSquare,
largeGreenSquare,
largePurpleSquare,
largeBrownSquare,
whiteHeart,
brownHeart,
orangeHeart,
AndorraFlag,
UnitedArabEmiratesFlag,
AfghanistanFlag,
ArmeniaFlag,
ArgentinaFlag,
AustriaFlag,
AalandIslandsFlag,
AzerbaijanFlag,
BarbadosFlag,
BangladeshFlag,
BelgiumFlag,
BulgariaFlag,
BeninFlag,
BoliviaFlag,
BahamasFlag,
BouvetIslandFlag,
BotswanaFlag,
CongoBrazzavilleFlag,
SwitzerlandFlag,
CotedIvoireFlag,
ChileFlag,
CameroonFlag,
ColombiaFlag,
ClippertonIslandFlag,
CzechiaFlag,
GermanyFlag,
DjiboutiFlag,
DenmarkFlag,
DominicanRepublicFlag,
EstoniaFlag,
EgyptFlag,
WesternSaharaFlag,
EthiopiaFlag,
FinlandFlag,
FaroeIslandsFlag,
FranceFlag,
GabonFlag,
UnitedKingdomFlag,
GhanaFlag,
GreenlandFlag,
GambiaFlag,
GuineaFlag,
EquatorialGuineaFlag,
GuineaBissauFlag,
HondurasFlag,
CroatiaFlag,
HaitiFlag,
HungaryFlag,
CanaryIslandsFlag,
IndonesiaFlag,
IrelandFlag,
IraqFlag,
IranFlag,
IcelandFlag,
ItalyFlag,
JamaicaFlag,
JordanFlag,
JapanFlag,
KuwaitFlag,
LiechtensteinFlag,
LesothoFlag,
LithuaniaFlag,
LuxembourgFlag,
LatviaFlag,
LibyaFlag,
MonacoFlag,
MoldovaFlag,
StMartinFlag,
MadagascarFlag,
MaliFlag,
MaltaFlag,
MauritiusFlag,
MalawiFlag,
MexicoFlag,
NorfolkIslandFlag,
NigeriaFlag,
NicaraguaFlag,
NetherlandsFlag,
NorwayFlag,
PeruFlag,
FrenchPolynesiaFlag,
PhilippinesFlag,
PolandFlag,
PalestinianTerritoriesFlag,
PalauFlag,
ParaguayFlag,
RomaniaFlag,
SerbiaFlag,
RussiaFlag,
SudanFlag,
SwedenFlag,
SingaporeFlag,
SvalbardJanMayenFlag,
SlovakiaFlag,
SierraLeoneFlag,
SanMarinoFlag,
SenegalFlag,
ElSalvadorFlag,
SintMaartenFlag,
ChadFlag,
ThailandFlag,
TajikistanFlag,
TrinidadTobagoFlag,
TanzaniaFlag,
UkraineFlag,
UzbekistanFlag,
StVincentGrenadinesFlag,
VietnamFlag,
YemenFlag,
SouthAfricaFlag,
EnglandFlag,
ScotlandFlag,
keycapNumberSign,
keycapAsterisk,
keycapDigitZero,
keycapDigitOne,
keycapDigitTwo,
keycapDigitThree,
keycapDigitFour,
keycapDigitFive,
keycapDigitSix,
keycapDigitSeven,
keycapDigitEight,
keycapDigitNine,
whiteSmilingFace,
mediumWhiteCircle,
mediumBlackCircle,
noEntry,
whiteHeavyCheckMark,
envelope,
heavyMultiplicationX,
snowflake,
crossMark,
blackCrossSquare,
blackQuestionOrnament,
whiteQuestionOrnament,
whiteExclamationOrnament,
heavyExclamationSymbol,
heavyBlackHeart,
at,
ampersand,
paragraph,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
blackLargeSquare,
whiteMediumStar,
bitcoin,
cent,
currency,
dollar,
dong,
euro,
rupeeIndian,
sterling,
won,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
product,
summation,
radical,
partialdiff,
percent,
perthousand,
bar.full,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
dottedCircle,
lozenge,
"brevecomb-cy",
tonos,
tonos.case,
dieresistonos,
"dotabove-ar",
"dotbelow-ar",
"dotcenter-ar",
"twodotsverticalabove-ar",
"twodotsverticalbelow-ar",
"twodotshorizontalabove-ar",
"twodotshorizontalbelow-ar",
"threedotsdownabove-ar",
"threedotsdownbelow-ar",
"threedotsdowncenter-ar",
"threedotsupabove-ar",
"threedotsupbelow-ar",
"miniKeheh-ar",
"gafsarkashabove-ar",
"gafsarkashcenter-ar",
"doublestroke-ar",
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
commaaccentcomb.loclMAH,
cedillacomb,
ogonekcomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
caroncomb.case,
brevecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
cedillacomb.case,
apostrophemod
)