(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adieresis,
Adotbelow,
Agrave,
Ahookabove,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
AEmacron,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Ddotbelow,
Dmacronbelow,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
Hbrevebelow,
Hcircumflex,
Hdotbelow,
I,
IJ,
Iacute,
Icaron,
Icircumflex,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcommaaccent,
Kmacronbelow,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lmacronbelow,
Lslash,
M,
Mdotaccent,
Mdotbelow,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Nmacronbelow,
Ntilde,
O,
Oacute,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odieresis,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdotbelowmacron,
Rmacronbelow,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotbelow,
Germandbls,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotbelow,
Tmacronbelow,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
Saltillo,
Lslash.001,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
S.ss01,
Ldot_comma,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adieresis,
adotbelow,
agrave,
ahookabove,
amacron,
aogonek,
aring,
atilde,
ae,
aemacron,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
ddotbelow,
dmacronbelow,
eth,
e,
eacute,
ecaron,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
hbrevebelow,
hcircumflex,
hdotbelow,
hmacronbelow,
i,
idotless,
iacute,
icaron,
icircumflex,
idieresis,
idotaccent,
idotbelow,
igrave,
ihookabove,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jacute,
jcircumflex,
k,
kcommaaccent,
kmacronbelow,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
ldotbelow,
ldotbelowmacron,
lmacronbelow,
lslash,
m,
mdotaccent,
mdotbelow,
n,
nacute,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
nmacronbelow,
ntilde,
o,
oacute,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odieresis,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdotbelowmacron,
rmacronbelow,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotbelow,
germandbls,
longs,
t,
tcaron,
tcedilla,
tcommaaccent,
tdieresis,
tdotbelow,
tmacronbelow,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhookabove,
ymacron,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
zmacronbelow,
saltillo,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
a.ss01,
y.ss02,
f_f,
f_f_i,
f_f_l,
f_f_t,
f_t,
fi,
fl,
t_t,
ordfeminine,
ordmasculine,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"Gestroke-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Tse-cy",
"Che-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Yat-cy",
"Fita-cy",
"Izhitsa-cy",
"Zhedescender-cy",
"Zedescender-cy",
"Kadescender-cy",
"Endescender-cy",
"Ustraight-cy",
"Ustraightstroke-cy",
"Hadescender-cy",
"Chedescender-cy",
"Shha-cy",
"Palochka-cy",
"Zhebreve-cy",
"Abreve-cy",
"Adieresis-cy",
"Aie-cy",
"Iebreve-cy",
"Schwa-cy",
"Schwadieresis-cy",
"Zhedieresis-cy",
"Zedieresis-cy",
"Imacron-cy",
"Idieresis-cy",
"Odieresis-cy",
"Obarred-cy",
"Obarreddieresis-cy",
"Edieresis-cy",
"Umacron-cy",
"Udieresis-cy",
"Uhungarumlaut-cy",
"Chedieresis-cy",
"Yerudieresis-cy",
"De-cy.loclBGR",
"El-cy.loclBGR",
"Ef-cy.loclBGR",
"Gedescender-cy",
"Gemiddlehook-cy",
"Kaverticalstroke-cy",
"Kastroke-cy",
"Kabashkir-cy",
"EnGe-cy",
"Pemiddlehook-cy",
"Pedescender-cy",
"Haabkhasian-cy",
"Esdescender-cy",
"Tedescender-cy",
"Tetse-cy",
"Cheverticalstroke-cy",
"Shhadescender-cy",
"Cheabkhasian-cy",
"Chedescenderabkhasian-cy",
"Kahook-cy",
"Eltail-cy",
"Enhook-cy",
"Entail-cy",
"Chekhakassian-cy",
"Emtail-cy",
"Dzeabkhasian-cy",
"Hahook-cy",
"Reversedze-cy",
"Elhook-cy",
"We-cy",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"gestroke-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"tse-cy",
"che-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"yat-cy",
"fita-cy",
"izhitsa-cy",
"zhedescender-cy",
"zedescender-cy",
"kadescender-cy",
"endescender-cy",
"ustraight-cy",
"ustraightstroke-cy",
"hadescender-cy",
"chedescender-cy",
"shha-cy",
"palochka-cy",
"zhebreve-cy",
"abreve-cy",
"adieresis-cy",
"aie-cy",
"iebreve-cy",
"schwa-cy",
"schwadieresis-cy",
"zhedieresis-cy",
"zedieresis-cy",
"imacron-cy",
"idieresis-cy",
"odieresis-cy",
"obarred-cy",
"obarreddieresis-cy",
"edieresis-cy",
"umacron-cy",
"udieresis-cy",
"uhungarumlaut-cy",
"chedieresis-cy",
"yerudieresis-cy",
"ve-cy.loclBGR",
"ge-cy.loclBGR",
"de-cy.loclBGR",
"zhe-cy.loclBGR",
"ze-cy.loclBGR",
"ii-cy.loclBGR",
"iishort-cy.loclBGR",
"ka-cy.loclBGR",
"el-cy.loclBGR",
"pe-cy.loclBGR",
"te-cy.loclBGR",
"tse-cy.loclBGR",
"sha-cy.loclBGR",
"shcha-cy.loclBGR",
"softsign-cy.loclBGR",
"hardsign-cy.loclBGR",
"yu-cy.loclBGR",
"gje-cy.loclMKD",
"be-cy.loclSRB",
"ge-cy.loclSRB",
"de-cy.loclSRB",
"pe-cy.loclSRB",
"te-cy.loclSRB",
"sha-cy.loclSRB",
"ge-cy.loclSRBMKD",
"de-cy.loclSRBMKD",
"pe-cy.loclSRBMKD",
"te-cy.loclSRBMKD",
"gedescender-cy",
"gemiddlehook-cy",
"kaverticalstroke-cy",
"kastroke-cy",
"kabashkir-cy",
"enge-cy",
"pedescender-cy",
"pemiddlehook-cy",
"haabkhasian-cy",
"esdescender-cy",
"tedescender-cy",
"tetse-cy",
"cheverticalstroke-cy",
"shhadescender-cy",
"cheabkhasian-cy",
"chedescenderabkhasian-cy",
"kahook-cy",
"eltail-cy",
"enhook-cy",
"entail-cy",
"chekhakassian-cy",
"emtail-cy",
"dzeabkhasian-cy",
"hahook-cy",
"reversedze-cy",
"elhook-cy",
"we-cy",
"be-cy.loclSRBMKD",
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
Iotadieresis,
Upsilondieresis,
KaiSymbol,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotatonos,
iotadieresis,
iotadieresistonos,
upsilontonos,
upsilondieresis,
upsilondieresistonos,
omicrontonos,
omegatonos,
alphatonos,
epsilontonos,
etatonos,
kaiSymbol,
"alef-hb",
"bet-hb",
"gimel-hb",
"dalet-hb",
"he-hb",
"vav-hb",
"zayin-hb",
"het-hb",
"tet-hb",
"yod-hb",
"kafFinal-hb",
"kaf-hb",
"lamed-hb",
"memFinal-hb",
"mem-hb",
"nunFinal-hb",
"nun-hb",
"samekh-hb",
"ayin-hb",
"peFinal-hb",
"pe-hb",
"tsadiFinal-hb",
"tsadi-hb",
"qof-hb",
"resh-hb",
"shin-hb",
"tav-hb",
"koKai-thai",
"khoKhai-thai",
"khoKhuat-thai",
"khoKhwai-thai",
"khoKhon-thai",
"khoRakhang-thai",
"ngoNgu-thai",
"choChan-thai",
"choChing-thai",
"choChang-thai",
"soSo-thai",
"choChoe-thai",
"yoYing-thai",
"yoYing-thai.less",
"doChada-thai",
"doChada-thai.short",
"toPatak-thai",
"toPatak-thai.short",
"thoThan-thai",
"thoThan-thai.less",
"thoNangmontho-thai",
"thoPhuthao-thai",
"noNen-thai",
"doDek-thai",
"toTao-thai",
"thoThung-thai",
"thoThahan-thai",
"thoThong-thai",
"noNu-thai",
"boBaimai-thai",
"poPla-thai",
"phoPhung-thai",
"foFa-thai",
"phoPhan-thai",
"foFan-thai",
"phoSamphao-thai",
"moMa-thai",
"yoYak-thai",
"roRua-thai",
"ru-thai",
"ru_lakkhangyao-thai",
"loLing-thai",
"lu-thai",
"lu_lakkhangyao-thai",
"woWaen-thai",
"soSala-thai",
"soRusi-thai",
"soSua-thai",
"hoHip-thai",
"loChula-thai",
"loChula-thai.short",
"oAng-thai",
"hoNokhuk-thai",
"saraA-thai",
"saraAa-thai",
"saraAm-thai",
"saraE-thai",
"saraAe-thai",
"saraO-thai",
"saraAiMaimuan-thai",
"saraAiMaimalai-thai",
"lakkhangyao-thai",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
three.ss01,
fraction,
onehalf,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
anoteleia,
questiongreek,
"geresh-hb",
"gershayim-hb",
"maqaf-hb",
hyphen_hyphen,
hyphen_hyphen_hyphen,
hyphen_hyphen_hyphen_greater,
hyphen_hyphen_greater,
hyphen_greater,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
asterism,
exclamationquestion,
exclamdouble,
numbersign,
slash,
backslash,
colon.case,
bullet.case,
asterisk.case,
hyphen,
endash,
emdash,
underscore,
wavedash,
wavydash,
hyphen.case,
endash.case,
emdash.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
anglebracketleft,
anglebracketright,
cornerbracketleft,
cornerbracketright,
dblanglebracketleft,
dblanglebracketright,
tortoiseshellbracketleft,
tortoiseshellbracketright,
whitecornerbracketleft,
whitecornerbracketright,
whitelenticularbracketleft,
whitelenticularbracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
anglebracketleft.case,
anglebracketright.case,
dblanglebracketleft.case,
dblanglebracketright.case,
tortoiseshellbracketleft.case,
tortoiseshellbracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
"numeral-greek",
"lowernumeral-greek",
baht,
heavyBlackHeart_VS16,
rainbow,
globeMeridians,
waxingCrescentMoonSymbol,
firstQuarterMoonSymbol,
waxingGibbousMoonSymbol,
crescentMoon,
eyes,
eye,
gemStone,
brokenHeart,
blueHeart,
greenHeart,
yellowHeart,
purpleHeart,
droplet,
speechBalloon,
creditCard,
opticalDisc,
dvd,
fileFolder,
openFileFolder,
pageFacingUp,
closedBook,
telephoneReceiver,
mobilePhone,
camera,
leftMagnifyingGlass,
rightMagnifyingGlass,
lock,
openLock,
radioButton,
largeRedCircle,
largeBlueCircle,
largeOrangeDiamond,
largeBlueDiamond,
orangeDiamond,
blueDiamond,
oneClock,
twoClock,
threeClock,
fourClock,
fiveClock,
sixClock,
sevenClock,
eightClock,
nineClock,
tenClock,
elevenClock,
twelveClock,
oneThirtyClock,
twoThirtyClock,
threeThirtyClock,
fourThirtyClock,
fiveThirtyClock,
sixThirtyClock,
sevenThirtyClock,
eightThirtyClock,
nineThirtyClock,
tenThirtyClock,
elevenThirtyClock,
twelveThirtyClock,
blackHeart,
grinningFace,
grinningFaceWithSmilingEyes,
faceWithTearsOfJoy,
smilingFaceWithOpenMouth,
smilingFaceWithOpenMouthAndSmilingEyes,
smilingFaceWithOpenMouthAndColdSweat,
smilingFaceWithOpenMouthAndTightlyClosedEyes,
smilingFaceWithSmilingEyes,
relievedFace,
neutralFace,
expressionlessFace,
pensiveFace,
faceWithStuckOutTongue,
faceWithStuckOutTongueAndTightlyClosedEyes,
disappointedFace,
faceWithOpenMouth,
dizzyFace,
faceWithoutMouth,
slightlySmilingFace,
upsideDownFace,
faceWithRollingEyes,
noEntrySign,
octagonalSign,
largeOrangeCircle,
largeYellowCircle,
largeGreenCircle,
largePurpleCircle,
largeBrownCircle,
largeRedSquare,
largeBlueSquare,
largeOrangeSquare,
largeYellowSquare,
largeGreenSquare,
largePurpleSquare,
largeBrownSquare,
whiteHeart,
brownHeart,
orangeHeart,
AndorraFlag,
UnitedArabEmiratesFlag,
AfghanistanFlag,
ArmeniaFlag,
ArgentinaFlag,
AustriaFlag,
AalandIslandsFlag,
AzerbaijanFlag,
BarbadosFlag,
BangladeshFlag,
BelgiumFlag,
BulgariaFlag,
BeninFlag,
BoliviaFlag,
BahamasFlag,
BouvetIslandFlag,
BotswanaFlag,
CongoBrazzavilleFlag,
SwitzerlandFlag,
CotedIvoireFlag,
ChileFlag,
CameroonFlag,
ColombiaFlag,
ClippertonIslandFlag,
CzechiaFlag,
GermanyFlag,
DjiboutiFlag,
DenmarkFlag,
DominicanRepublicFlag,
EstoniaFlag,
EgyptFlag,
WesternSaharaFlag,
EthiopiaFlag,
FinlandFlag,
FaroeIslandsFlag,
FranceFlag,
GabonFlag,
UnitedKingdomFlag,
GhanaFlag,
GreenlandFlag,
GambiaFlag,
GuineaFlag,
EquatorialGuineaFlag,
GuineaBissauFlag,
HondurasFlag,
CroatiaFlag,
HaitiFlag,
HungaryFlag,
CanaryIslandsFlag,
IndonesiaFlag,
IrelandFlag,
IraqFlag,
IranFlag,
IcelandFlag,
ItalyFlag,
JamaicaFlag,
JordanFlag,
JapanFlag,
KuwaitFlag,
LiechtensteinFlag,
LesothoFlag,
LithuaniaFlag,
LuxembourgFlag,
LatviaFlag,
LibyaFlag,
MonacoFlag,
MoldovaFlag,
StMartinFlag,
MadagascarFlag,
MaliFlag,
MaltaFlag,
MauritiusFlag,
MalawiFlag,
MexicoFlag,
NorfolkIslandFlag,
NigeriaFlag,
NicaraguaFlag,
NetherlandsFlag,
NorwayFlag,
PeruFlag,
FrenchPolynesiaFlag,
PhilippinesFlag,
PolandFlag,
PalestinianTerritoriesFlag,
PalauFlag,
ParaguayFlag,
RomaniaFlag,
SerbiaFlag,
RussiaFlag,
SudanFlag,
SwedenFlag,
SingaporeFlag,
SvalbardJanMayenFlag,
SlovakiaFlag,
SierraLeoneFlag,
SanMarinoFlag,
SenegalFlag,
ElSalvadorFlag,
SintMaartenFlag,
ChadFlag,
ThailandFlag,
TajikistanFlag,
TrinidadTobagoFlag,
TanzaniaFlag,
UkraineFlag,
UzbekistanFlag,
StVincentGrenadinesFlag,
VietnamFlag,
YemenFlag,
SouthAfricaFlag,
EnglandFlag,
ScotlandFlag,
keycapNumberSign,
keycapAsterisk,
keycapDigitZero,
keycapDigitOne,
keycapDigitTwo,
keycapDigitThree,
keycapDigitFour,
keycapDigitFive,
keycapDigitSix,
keycapDigitSeven,
keycapDigitEight,
keycapDigitNine,
less_hyphen,
less_hyphen_hyphen,
less_hyphen_hyphen_hyphen,
whiteSmilingFace,
mediumWhiteCircle,
mediumBlackCircle,
noEntry,
whiteHeavyCheckMark,
envelope,
heavyMultiplicationX,
snowflake,
crossMark,
blackCrossSquare,
blackQuestionOrnament,
whiteQuestionOrnament,
whiteExclamationOrnament,
heavyExclamationSymbol,
heavyBlackHeart,
at,
ampersand,
paragraph,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
blackLargeSquare,
whiteMediumStar,
section,
bitcoin,
cent,
currency,
dollar,
dong,
euro,
rupeeIndian,
sterling,
won,
yen,
hryvnia,
ruble,
sheqel,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
product,
summation,
radical,
partialdiff,
percent,
perthousand,
bar.full,
plus.case,
minus.case,
multiply.case,
divide.case,
equal.case,
notequal.case,
greater.case,
less.case,
greaterequal.case,
lessequal.case,
plusminus.case,
approxequal.case,
asciitilde.case,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
leftLongArrow,
rightLongArrow,
rightLongArrow2,
dottedCircle,
lozenge,
"brevecomb-cy",
tonos,
tonos.case,
dieresistonos,
"dotabove-ar",
"dotbelow-ar",
"dotcenter-ar",
"twodotsverticalabove-ar",
"twodotsverticalbelow-ar",
"twodotshorizontalabove-ar",
"twodotshorizontalbelow-ar",
"threedotsdownabove-ar",
"threedotsdownbelow-ar",
"threedotsdowncenter-ar",
"threedotsupabove-ar",
"threedotsupbelow-ar",
"miniKeheh-ar",
"gafsarkashabove-ar",
"gafsarkashcenter-ar",
"doublestroke-ar",
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
hookabovecomb,
commaturnedabovecomb,
horncomb,
dotbelowcomb,
commaaccentcomb,
commaaccentcomb.loclMAH,
cedillacomb,
ogonekcomb,
brevebelowcomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
caroncomb.case,
brevecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
hookabovecomb.case,
horncomb.case,
cedillacomb.case,
candraBinducomb,
dieresisbelowcomb,
ringbelowcomb,
macronbelowcomb,
doublemacronbelowcomb,
apostrophemod,
commaturnedmod,
commareversedmod,
ringhalfleft,
ringhalfright,
leftLongArrow2
)