{
displayStrings = (
" การไมม่ม่่นำพาและการหมิ่นในคุณค่าของสิทธิมนุษยชน ยังผลให้มีการกระทำอันป่าเถื่อน ",
" Sự xâm phạm và coi thường nhân quyền đã dẫn đến những hành động ",
"ม่นำม",
"ห้มี่tม่",
"ม",
"กขฃคฅฆงจฉชซฌญ/yoYing-thai.less ฎ/doChada-thai.short ฏ/toPatak-thai.short ฐ/thoThan-thai.less ฑฒณดตถทธนบปผฝพฟภมยรฤ/ru_lakkhangyao-thai ลฦ/lu_lakkhangyao-thai วศษสหฬ/loChula-thai.short อฮะาำเแโใไๅ",
"ฺ",
"๚๏๛ๆฯ",
"ำ",
"ฮ",
"ฬ",
"ฑ",
"",
"บ",
"ป",
"ถ"
);
}
