{
displayStrings = (
"̂/circumflexcomb_hookabovecomb ẩ",
"ầ",
"̆ăâ",
"̆ăẵâ",
"Ă",
"́aáăắ/brevecomb_hookabovecomb ẳằẳẵẫâấậầ̂̉/circumflexcomb_hookabovecomb ẩẫạàảã",
"̂/circumflexcomb_acutecomb/circumflexcomb_gravecomb",
"EỂ",
"̆/brevecomb-cy",
"̮",
"",
"",
"̌",
"/caroncomb.alt tťa",
"̂̌",
"̐",
"Á",
"Ă",
"Ặ",
"̧̦/rightLongArrow2 ṮȚ",
"̣LḸ̱Ḻ",
"KĶ",
"ḪḪ",
"̧ŞŠ",
"Ţ",
"RŖ",
"İ/Lcommaaccent.loclMAH",
"N/commaaccentcomb.loclMAH/Ncommaaccent.loclMAH ÝẔ",
"Ӈ",
"Α΄Ά",
"EΕΈ",
"EΕ",
"΄ΑΆ",
"́΄Eιת",
"ΩΏ",
"ΑΑΆΕΈΗΉΙΊΌΎΏ",
"ΆΈΉΙΙΊ΄ΟΌ΄ΥΎΏ",
"ΙΪ",
"CÇҪ",
a,
"̨a̒gģç",
"g̦íjiiortЀųş",
"ј",
"ϋ",
"jĳ",
"̂/circumflexcomb_acutecomb Ế",
"/circumflexcomb_acutecomb ấ/circumflexcomb_gravecomb ầ",
"/circumflexcomb_hookabovecomb ể",
"ằầ",
"EĘ",
"AĄ",
"̨Ą",
"AĄEĘIĮ̨UŲaąęıįų"
);
}
