(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adieresis,
Adotbelow,
Agrave,
Ahookabove,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
AEmacron,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Ddotbelow,
Dmacronbelow,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
Hbrevebelow,
Hcircumflex,
Hdotbelow,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcaron,
Kcommaaccent,
Kmacronbelow,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lmacronbelow,
Lslash,
M,
Mdotaccent,
Mdotbelow,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Nmacronbelow,
Ntilde,
O,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odieresis,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Omacron,
Oslash,
Oslashacute,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdotbelowmacron,
Rmacronbelow,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotbelow,
Germandbls,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotbelow,
Tmacronbelow,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
Saltillo,
Lslash.001,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
Ezh,
Ezhcaron,
Gstroke,
Eng,
Tbar,
S.ss01,
Ldot_comma,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adieresis,
adotbelow,
agrave,
ahookabove,
amacron,
aogonek,
aring,
atilde,
ae,
aemacron,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
ddotbelow,
dmacronbelow,
eth,
e,
eacute,
ebreve,
ecaron,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
hbrevebelow,
hcircumflex,
hdotbelow,
hmacronbelow,
i,
idotless,
iacute,
ibreve,
icaron,
icircumflex,
idieresis,
idotaccent,
idotbelow,
igrave,
ihookabove,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jacute,
jcircumflex,
k,
kcaron,
kcommaaccent,
kmacronbelow,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
ldotbelow,
ldotbelowmacron,
lmacronbelow,
lslash,
m,
mdotaccent,
mdotbelow,
n,
nacute,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
nmacronbelow,
ntilde,
o,
oacute,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odieresis,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
omacron,
oslash,
oslashacute,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdotbelowmacron,
rmacronbelow,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotbelow,
germandbls,
longs,
t,
tcaron,
tcedilla,
tcommaaccent,
tdieresis,
tdotbelow,
tmacronbelow,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhookabove,
ymacron,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
zmacronbelow,
saltillo,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
a.ss01,
aacute.ss01,
abreve.ss01,
abreveacute.ss01,
abrevedotbelow.ss01,
abrevegrave.ss01,
abrevehookabove.ss01,
abrevetilde.ss01,
acaron.ss01,
acircumflex.ss01,
acircumflexacute.ss01,
acircumflexdotbelow.ss01,
acircumflexgrave.ss01,
acircumflexhookabove.ss01,
acircumflextilde.ss01,
adieresis.ss01,
adotbelow.ss01,
agrave.ss01,
ahookabove.ss01,
amacron.ss01,
aogonek.ss01,
aring.ss01,
atilde.ss01,
e.ss02,
eacute.ss02,
ecaron.ss02,
ecircumflex.ss02,
ecircumflexacute.ss02,
ecircumflexdotbelow.ss02,
ecircumflexgrave.ss02,
ecircumflexhookabove.ss02,
ecircumflextilde.ss02,
edieresis.ss02,
edotaccent.ss02,
edotbelow.ss02,
egrave.ss02,
ehookabove.ss02,
emacron.ss02,
eogonek.ss02,
etilde.ss02,
y.ss03,
yacute.ss03,
ycircumflex.ss03,
ydieresis.ss03,
ydotaccent.ss03,
ydotbelow.ss03,
ygrave.ss03,
yhookabove.ss03,
ymacron.ss03,
ytilde.ss03,
ezh,
ezhcaron,
gstroke,
eng,
tbar,
f_f,
f_f_i,
f_f_l,
f_f_t,
f_t,
fi,
fl,
t_t,
ordfeminine,
ordmasculine,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"Gedescender-cy",
"Gestroke-cy",
"Gemiddlehook-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Tse-cy",
"Che-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Yat-cy",
"Fita-cy",
"Izhitsa-cy",
"Zhedescender-cy",
"Zedescender-cy",
"Kadescender-cy",
"Kaverticalstroke-cy",
"Kabashkir-cy",
"Endescender-cy",
"EnGe-cy",
"Pedescender-cy",
"Esdescender-cy",
"Tedescender-cy",
"Ustraight-cy",
"Ustraightstroke-cy",
"Hadescender-cy",
"Chedescender-cy",
"Cheverticalstroke-cy",
"Shha-cy",
"Shhadescender-cy",
"Palochka-cy",
"Zhebreve-cy",
"Abreve-cy",
"Adieresis-cy",
"Aie-cy",
"Iebreve-cy",
"Schwa-cy",
"Schwadieresis-cy",
"Zhedieresis-cy",
"Zedieresis-cy",
"Imacron-cy",
"Idieresis-cy",
"Odieresis-cy",
"Obarred-cy",
"Obarreddieresis-cy",
"Edieresis-cy",
"Umacron-cy",
"Udieresis-cy",
"Uhungarumlaut-cy",
"Chedieresis-cy",
"Yerudieresis-cy",
"Reversedze-cy",
"We-cy",
"De-cy.loclBGR",
"El-cy.loclBGR",
"Ef-cy.loclBGR",
"Kastroke-cy",
"Pemiddlehook-cy",
"Haabkhasian-cy",
"Tetse-cy",
"Cheabkhasian-cy",
"Chedescenderabkhasian-cy",
"Kahook-cy",
"Eltail-cy",
"Enhook-cy",
"Entail-cy",
"Chekhakassian-cy",
"Emtail-cy",
"Dzeabkhasian-cy",
"Hahook-cy",
"Elhook-cy",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"gedescender-cy",
"gestroke-cy",
"gemiddlehook-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"tse-cy",
"che-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"hardsign_gravecomb-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"e_acutecomb-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"yat-cy",
"fita-cy",
"izhitsa-cy",
"zhedescender-cy",
"zedescender-cy",
"kadescender-cy",
"kaverticalstroke-cy",
"kabashkir-cy",
"endescender-cy",
"enge-cy",
"pedescender-cy",
"esdescender-cy",
"tedescender-cy",
"ustraight-cy",
"ustraightstroke-cy",
"hadescender-cy",
"chedescender-cy",
"cheverticalstroke-cy",
"shha-cy",
"shhadescender-cy",
"palochka-cy",
"zhebreve-cy",
"abreve-cy",
"adieresis-cy",
"aie-cy",
"iebreve-cy",
"schwa-cy",
"schwadieresis-cy",
"zhedieresis-cy",
"zedieresis-cy",
"imacron-cy",
"idieresis-cy",
"odieresis-cy",
"obarred-cy",
"obarreddieresis-cy",
"edieresis-cy",
"umacron-cy",
"udieresis-cy",
"uhungarumlaut-cy",
"chedieresis-cy",
"yerudieresis-cy",
"reversedze-cy",
"we-cy",
"ve-cy.loclBGR",
"ge-cy.loclBGR",
"de-cy.loclBGR",
"zhe-cy.loclBGR",
"ze-cy.loclBGR",
"ii-cy.loclBGR",
"iishort-cy.loclBGR",
"ka-cy.loclBGR",
"el-cy.loclBGR",
"pe-cy.loclBGR",
"te-cy.loclBGR",
"tse-cy.loclBGR",
"sha-cy.loclBGR",
"shcha-cy.loclBGR",
"softsign-cy.loclBGR",
"hardsign-cy.loclBGR",
"yu-cy.loclBGR",
"gje-cy.loclMKD",
"be-cy.loclSRB",
"ge-cy.loclSRB",
"de-cy.loclSRB",
"pe-cy.loclSRB",
"te-cy.loclSRB",
"sha-cy.loclSRB",
"be-cy.loclSRBMKD",
"ge-cy.loclSRBMKD",
"de-cy.loclSRBMKD",
"pe-cy.loclSRBMKD",
"te-cy.loclSRBMKD",
"kastroke-cy",
"pemiddlehook-cy",
"haabkhasian-cy",
"tetse-cy",
"cheabkhasian-cy",
"chedescenderabkhasian-cy",
"kahook-cy",
"eltail-cy",
"enhook-cy",
"entail-cy",
"chekhakassian-cy",
"emtail-cy",
"dzeabkhasian-cy",
"hahook-cy",
"elhook-cy",
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
Iotadieresis,
Upsilondieresis,
KaiSymbol,
Alphapsili,
Alphadasia,
Alphapsilivaria,
Alphadasiavaria,
Alphapsilioxia,
Alphadasiaoxia,
Alphapsiliperispomeni,
Alphadasiaperispomeni,
Alphavaria,
Alphaoxia,
Alphavrachy,
Alphamacron,
Alphaprosgegrammeni,
Alphapsiliprosgegrammeni,
Alphadasiaprosgegrammeni,
Alphapsilivariaprosgegrammeni,
Alphadasiavariaprosgegrammeni,
Alphapsilioxiaprosgegrammeni,
Alphadasiaoxiaprosgegrammeni,
Alphapsiliperispomeniprosgegrammeni,
Alphadasiaperispomeniprosgegrammeni,
Epsilonpsili,
Epsilondasia,
Epsilonpsilivaria,
Epsilondasiavaria,
Epsilonpsilioxia,
Epsilondasiaoxia,
Epsilonvaria,
Epsilonoxia,
Etapsili,
Etadasia,
Etapsilivaria,
Etadasiavaria,
Etapsilioxia,
Etadasiaoxia,
Etapsiliperispomeni,
Etadasiaperispomeni,
Etavaria,
Etaoxia,
Etaprosgegrammeni,
Etapsiliprosgegrammeni,
Etadasiaprosgegrammeni,
Etapsilivariaprosgegrammeni,
Etadasiavariaprosgegrammeni,
Etapsilioxiaprosgegrammeni,
Etadasiaoxiaprosgegrammeni,
Etapsiliperispomeniprosgegrammeni,
Etadasiaperispomeniprosgegrammeni,
Iotapsili,
Iotadasia,
Iotapsilivaria,
Iotadasiavaria,
Iotapsilioxia,
Iotadasiaoxia,
Iotapsiliperispomeni,
Iotadasiaperispomeni,
Iotavaria,
Iotaoxia,
Iotavrachy,
Iotamacron,
Omicronpsili,
Omicrondasia,
Omicronpsilivaria,
Omicrondasiavaria,
Omicronpsilioxia,
Omicrondasiaoxia,
Omicronvaria,
Omicronoxia,
Rhodasia,
Upsilondasia,
Upsilondasiavaria,
Upsilondasiaoxia,
Upsilondasiaperispomeni,
Upsilonvaria,
Upsilonoxia,
Upsilonvrachy,
Upsilonmacron,
Omegapsili,
Omegadasia,
Omegapsilivaria,
Omegadasiavaria,
Omegapsilioxia,
Omegadasiaoxia,
Omegapsiliperispomeni,
Omegadasiaperispomeni,
Omegavaria,
Omegaoxia,
Omegaprosgegrammeni,
Omegapsiliprosgegrammeni,
Omegadasiaprosgegrammeni,
Omegapsilivariaprosgegrammeni,
Omegadasiavariaprosgegrammeni,
Omegapsilioxiaprosgegrammeni,
Omegadasiaoxiaprosgegrammeni,
Omegapsiliperispomeniprosgegrammeni,
Omegadasiaperispomeniprosgegrammeni,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotatonos,
iotadieresis,
iotadieresistonos,
upsilontonos,
upsilondieresis,
upsilondieresistonos,
omicrontonos,
omegatonos,
alphatonos,
epsilontonos,
etatonos,
kaiSymbol,
alphapsili,
alphadasia,
alphapsilivaria,
alphadasiavaria,
alphapsilioxia,
alphadasiaoxia,
alphapsiliperispomeni,
alphadasiaperispomeni,
alphavaria,
alphaoxia,
alphaperispomeni,
alphavrachy,
alphamacron,
alphaypogegrammeni,
alphavariaypogegrammeni,
alphaoxiaypogegrammeni,
alphapsiliypogegrammeni,
alphadasiaypogegrammeni,
alphapsilivariaypogegrammeni,
alphadasiavariaypogegrammeni,
alphapsilioxiaypogegrammeni,
alphadasiaoxiaypogegrammeni,
alphapsiliperispomeniypogegrammeni,
alphadasiaperispomeniypogegrammeni,
alphaperispomeniypogegrammeni,
epsilonpsili,
epsilondasia,
epsilonpsilivaria,
epsilondasiavaria,
epsilonpsilioxia,
epsilondasiaoxia,
epsilonvaria,
epsilonoxia,
etapsili,
etadasia,
etapsilivaria,
etadasiavaria,
etapsilioxia,
etadasiaoxia,
etapsiliperispomeni,
etadasiaperispomeni,
etavaria,
etaoxia,
etaperispomeni,
etaypogegrammeni,
etavariaypogegrammeni,
etaoxiaypogegrammeni,
etapsiliypogegrammeni,
etadasiaypogegrammeni,
etapsilivariaypogegrammeni,
etadasiavariaypogegrammeni,
etapsilioxiaypogegrammeni,
etadasiaoxiaypogegrammeni,
etapsiliperispomeniypogegrammeni,
etadasiaperispomeniypogegrammeni,
etaperispomeniypogegrammeni,
iotapsili,
iotadasia,
iotapsilivaria,
iotadasiavaria,
iotapsilioxia,
iotadasiaoxia,
iotapsiliperispomeni,
iotadasiaperispomeni,
iotavaria,
iotaoxia,
iotaperispomeni,
iotavrachy,
iotamacron,
iotadialytikavaria,
iotadialytikaoxia,
iotadialytikaperispomeni,
omicronpsili,
omicrondasia,
omicronpsilivaria,
omicrondasiavaria,
omicronpsilioxia,
omicrondasiaoxia,
omicronvaria,
omicronoxia,
rhopsili,
rhodasia,
upsilonpsili,
upsilondasia,
upsilonpsilivaria,
upsilondasiavaria,
upsilonpsilioxia,
upsilondasiaoxia,
upsilonpsiliperispomeni,
upsilondasiaperispomeni,
upsilonvaria,
upsilonoxia,
upsilonperispomeni,
upsilonvrachy,
upsilonmacron,
upsilondialytikavaria,
upsilondialytikaoxia,
upsilondialytikaperispomeni,
omegapsili,
omegadasia,
omegapsilivaria,
omegadasiavaria,
omegapsilioxia,
omegadasiaoxia,
omegapsiliperispomeni,
omegadasiaperispomeni,
omegavaria,
omegaoxia,
omegaperispomeni,
omegaypogegrammeni,
omegavariaypogegrammeni,
omegaoxiaypogegrammeni,
omegapsiliypogegrammeni,
omegadasiaypogegrammeni,
omegapsilivariaypogegrammeni,
omegadasiavariaypogegrammeni,
omegapsilioxiaypogegrammeni,
omegadasiaoxiaypogegrammeni,
omegapsiliperispomeniypogegrammeni,
omegadasiaperispomeniypogegrammeni,
omegaperispomeniypogegrammeni,
prosgegrammeni,
ypogegrammeni,
"alef-hb",
"bet-hb",
"gimel-hb",
"dalet-hb",
"he-hb",
"vav-hb",
"zayin-hb",
"het-hb",
"tet-hb",
"yod-hb",
"kafFinal-hb",
"kaf-hb",
"lamed-hb",
"memFinal-hb",
"mem-hb",
"nunFinal-hb",
"nun-hb",
"samekh-hb",
"ayin-hb",
"peFinal-hb",
"pe-hb",
"tsadiFinal-hb",
"tsadi-hb",
"qof-hb",
"resh-hb",
"shin-hb",
"tav-hb",
"boBaimai-thai",
"saraAm-thai",
"koKai-thai",
"khoKhai-thai",
"khoKhuat-thai",
"khoKhwai-thai",
"khoKhon-thai",
"khoRakhang-thai",
"ngoNgu-thai",
"choChan-thai",
"choChing-thai",
"choChang-thai",
"soSo-thai",
"choChoe-thai",
"yoYing-thai",
"yoYing-thai.less",
"doChada-thai",
"doChada-thai.short",
"toPatak-thai",
"toPatak-thai.short",
"thoThan-thai",
"thoThan-thai.less",
"thoNangmontho-thai",
"thoPhuthao-thai",
"noNen-thai",
"doDek-thai",
"toTao-thai",
"thoThung-thai",
"thoThahan-thai",
"thoThong-thai",
"noNu-thai",
"poPla-thai",
"phoPhung-thai",
"foFa-thai",
"phoPhan-thai",
"foFan-thai",
"phoSamphao-thai",
"moMa-thai",
"yoYak-thai",
"roRua-thai",
"ru-thai",
"ru_lakkhangyao-thai",
"loLing-thai",
"lu-thai",
"lu_lakkhangyao-thai",
"woWaen-thai",
"soSala-thai",
"soRusi-thai",
"soSua-thai",
"hoHip-thai",
"loChula-thai",
"loChula-thai.short",
"oAng-thai",
"hoNokhuk-thai",
"saraA-thai",
"saraAa-thai",
"saraE-thai",
"saraAe-thai",
"saraO-thai",
"saraAiMaimuan-thai",
"saraAiMaimalai-thai",
"lakkhangyao-thai",
"zero-thai",
"one-thai",
"two-thai",
"three-thai",
"four-thai",
"five-thai",
"six-thai",
"seven-thai",
"eight-thai",
"nine-thai",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
three.ss01,
fraction,
onehalf,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
.notdef,
anoteleia,
questiongreek,
"geresh-hb",
"gershayim-hb",
"maqaf-hb",
"angkhankhu-thai",
"fongman-thai",
"khomut-thai",
"maiyamok-thai",
"paiyannoi-thai",
hyphen_hyphen,
hyphen_hyphen_hyphen,
hyphen_hyphen_hyphen_greater,
hyphen_hyphen_greater,
hyphen_greater,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
asterism,
exclamationquestion,
exclamdouble,
numbersign,
slash,
backslash,
colon.case,
bullet.case,
asterisk.case,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
underscore,
wavedash,
wavydash,
hyphen.case,
endash.case,
emdash.case,
softhyphen,
figuredash,
figuredash.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
anglebracketleft,
anglebracketright,
cornerbracketleft,
cornerbracketright,
dblanglebracketleft,
dblanglebracketright,
tortoiseshellbracketleft,
tortoiseshellbracketright,
whitecornerbracketleft,
whitecornerbracketright,
whitelenticularbracketleft,
whitelenticularbracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
anglebracketleft.case,
anglebracketright.case,
dblanglebracketleft.case,
dblanglebracketright.case,
tortoiseshellbracketleft.case,
tortoiseshellbracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
"numeral-greek",
"lowernumeral-greek",
baht,
heavyBlackHeart_VS16,
rainbow,
globeMeridians,
waxingCrescentMoonSymbol,
firstQuarterMoonSymbol,
waxingGibbousMoonSymbol,
crescentMoon,
eyes,
eye,
gemStone,
brokenHeart,
blueHeart,
greenHeart,
yellowHeart,
purpleHeart,
droplet,
speechBalloon,
creditCard,
opticalDisc,
dvd,
fileFolder,
openFileFolder,
pageFacingUp,
closedBook,
telephoneReceiver,
mobilePhone,
camera,
leftMagnifyingGlass,
rightMagnifyingGlass,
lock,
openLock,
radioButton,
largeRedCircle,
largeBlueCircle,
largeOrangeDiamond,
largeBlueDiamond,
orangeDiamond,
blueDiamond,
oneClock,
twoClock,
threeClock,
fourClock,
fiveClock,
sixClock,
sevenClock,
eightClock,
nineClock,
tenClock,
elevenClock,
twelveClock,
oneThirtyClock,
twoThirtyClock,
threeThirtyClock,
fourThirtyClock,
fiveThirtyClock,
sixThirtyClock,
sevenThirtyClock,
eightThirtyClock,
nineThirtyClock,
tenThirtyClock,
elevenThirtyClock,
twelveThirtyClock,
blackHeart,
grinningFace,
grinningFaceWithSmilingEyes,
faceWithTearsOfJoy,
smilingFaceWithOpenMouth,
smilingFaceWithOpenMouthAndSmilingEyes,
smilingFaceWithOpenMouthAndColdSweat,
smilingFaceWithOpenMouthAndTightlyClosedEyes,
smilingFaceWithSmilingEyes,
relievedFace,
neutralFace,
expressionlessFace,
pensiveFace,
faceWithStuckOutTongue,
faceWithStuckOutTongueAndTightlyClosedEyes,
disappointedFace,
faceWithOpenMouth,
dizzyFace,
faceWithoutMouth,
slightlySmilingFace,
upsideDownFace,
faceWithRollingEyes,
noEntrySign,
octagonalSign,
largeOrangeCircle,
largeYellowCircle,
largeGreenCircle,
largePurpleCircle,
largeBrownCircle,
largeRedSquare,
largeBlueSquare,
largeOrangeSquare,
largeYellowSquare,
largeGreenSquare,
largePurpleSquare,
largeBrownSquare,
whiteHeart,
brownHeart,
orangeHeart,
AndorraFlag,
UnitedArabEmiratesFlag,
AfghanistanFlag,
ArmeniaFlag,
ArgentinaFlag,
AustriaFlag,
AalandIslandsFlag,
AzerbaijanFlag,
BarbadosFlag,
BangladeshFlag,
BelgiumFlag,
BulgariaFlag,
BeninFlag,
BoliviaFlag,
BahamasFlag,
BouvetIslandFlag,
BotswanaFlag,
CongoBrazzavilleFlag,
SwitzerlandFlag,
CotedIvoireFlag,
ChileFlag,
CameroonFlag,
ColombiaFlag,
ClippertonIslandFlag,
CzechiaFlag,
GermanyFlag,
DjiboutiFlag,
DenmarkFlag,
DominicanRepublicFlag,
EstoniaFlag,
EgyptFlag,
WesternSaharaFlag,
EthiopiaFlag,
FinlandFlag,
FaroeIslandsFlag,
FranceFlag,
GabonFlag,
UnitedKingdomFlag,
GhanaFlag,
GreenlandFlag,
GambiaFlag,
GuineaFlag,
EquatorialGuineaFlag,
GuineaBissauFlag,
HondurasFlag,
CroatiaFlag,
HaitiFlag,
HungaryFlag,
CanaryIslandsFlag,
IndonesiaFlag,
IrelandFlag,
IraqFlag,
IranFlag,
IcelandFlag,
ItalyFlag,
JamaicaFlag,
JordanFlag,
JapanFlag,
KuwaitFlag,
LiechtensteinFlag,
LesothoFlag,
LithuaniaFlag,
LuxembourgFlag,
LatviaFlag,
LibyaFlag,
MonacoFlag,
MoldovaFlag,
StMartinFlag,
MadagascarFlag,
MaliFlag,
MaltaFlag,
MauritiusFlag,
MalawiFlag,
MexicoFlag,
NorfolkIslandFlag,
NigeriaFlag,
NicaraguaFlag,
NetherlandsFlag,
NorwayFlag,
PeruFlag,
FrenchPolynesiaFlag,
PhilippinesFlag,
PolandFlag,
PalestinianTerritoriesFlag,
PalauFlag,
ParaguayFlag,
RomaniaFlag,
SerbiaFlag,
RussiaFlag,
SudanFlag,
SwedenFlag,
SingaporeFlag,
SvalbardJanMayenFlag,
SlovakiaFlag,
SierraLeoneFlag,
SanMarinoFlag,
SenegalFlag,
ElSalvadorFlag,
SintMaartenFlag,
ChadFlag,
ThailandFlag,
TajikistanFlag,
TrinidadTobagoFlag,
TanzaniaFlag,
UkraineFlag,
UzbekistanFlag,
StVincentGrenadinesFlag,
VietnamFlag,
YemenFlag,
SouthAfricaFlag,
EnglandFlag,
ScotlandFlag,
keycapNumberSign,
keycapAsterisk,
keycapDigitZero,
keycapDigitOne,
keycapDigitTwo,
keycapDigitThree,
keycapDigitFour,
keycapDigitFive,
keycapDigitSix,
keycapDigitSeven,
keycapDigitEight,
keycapDigitNine,
equal_equal_greater,
equal_greater,
less_hyphen,
less_hyphen_hyphen,
less_hyphen_hyphen_hyphen,
less_hyphen_greater,
less_equal,
less_equal_equal,
less_equal_equal_greater,
less_equal_greater,
whiteSmilingFace,
mediumWhiteCircle,
mediumBlackCircle,
noEntry,
whiteHeavyCheckMark,
envelope,
heavyMultiplicationX,
snowflake,
crossMark,
blackCrossSquare,
blackQuestionOrnament,
whiteQuestionOrnament,
whiteExclamationOrnament,
heavyExclamationSymbol,
heavyBlackHeart,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
blackLargeSquare,
copyleft,
whiteMediumStar,
at.case,
wheelOfDharma,
bitcoin,
cent,
currency,
dollar,
dong,
euro,
hryvnia,
ruble,
rupeeIndian,
sheqel,
sterling,
won,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
increment,
product,
summation,
radical,
partialdiff,
micro,
percent,
perthousand,
bar.full,
plus.case,
minus.case,
multiply.case,
divide.case,
equal.case,
notequal.case,
greater.case,
less.case,
greaterequal.case,
lessequal.case,
plusminus.case,
approxequal.case,
asciitilde.case,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
rightDoubleArrow,
leftDoubleArrow,
leftRightDoubleArrow,
leftLongArrow,
rightLongArrow,
leftRightLongArrow,
leftLongDoubleArrow,
rightLongDoubleArrow,
leftRightLongDoubleArrow,
northEastArrow.case,
rightArrow.case,
southEastArrow.case,
southWestArrow.case,
leftArrow.case,
northWestArrow.case,
leftRightArrow.case,
rightDoubleArrow.case,
leftDoubleArrow.case,
leftRightDoubleArrow.case,
leftLongArrow.case,
rightLongArrow.case,
leftRightLongArrow.case,
leftLongDoubleArrow.case,
rightLongDoubleArrow.case,
leftRightLongDoubleArrow.case,
largeCircle,
dottedCircle,
lozenge,
"brevecomb-cy",
tonos,
tonos.case,
dieresistonos,
psili,
psili.case,
koronis,
koronis.case,
dasia,
dasia.case,
psilivaria,
dasiavaria,
dasiavaria.case,
psilioxia,
psilioxia.case,
dasiaoxia,
dasiaoxia.case,
psiliperispomeni,
psiliperispomeni.case,
dasiaperispomeni,
dasiaperispomeni.case,
dialytikavaria,
dialytikavaria.case,
dialytikaoxia,
dialytikaoxia.case,
dialytikaperispomeni,
dialytikaperispomeni.case,
varia,
varia.case,
oxia,
oxia.case,
perispomeni,
perispomeni.case,
psilivaria.case,
"dotabove-ar",
"dotbelow-ar",
"dotcenter-ar",
"twodotsverticalabove-ar",
"twodotsverticalbelow-ar",
"twodotshorizontalabove-ar",
"twodotshorizontalbelow-ar",
"threedotsdownabove-ar",
"threedotsdownbelow-ar",
"threedotsdowncenter-ar",
"threedotsupabove-ar",
"threedotsupbelow-ar",
"miniKeheh-ar",
"gafsarkashabove-ar",
"gafsarkashcenter-ar",
"doublestroke-ar",
"maiHanaKat-thai",
"maiHanaKat-thai.narrow",
"maiEk-thai",
"maiEk-thai.small",
"maiTho-thai",
"maiTho-thai.small",
"maiTho-thai.narrow",
"maiTri-thai",
"maiTri-thai.small",
"maiTri-thai.narrow",
"maiChattawa-thai",
"maiChattawa-thai.small",
"thanthakhat-thai",
"thanthakhat-thai.small",
"thanthakhat-thai.narrow",
"maitaikhu-thai",
"maitaikhu-thai.narrow",
"yamakkan-thai",
"saraI-thai",
"saraI-thai.narrow",
"saraIi-thai",
"saraIi-thai.narrow",
"saraUe-thai",
"saraUe-thai.narrow",
"saraUee-thai",
"saraUee-thai.narrow",
"nikhahit-thai",
"phinthu-thai",
"phinthu-thai.small",
"saraU-thai",
"saraU-thai.small",
"saraUu-thai",
"saraUu-thai.small",
"maitaikhu-thai.small",
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
hookabovecomb,
commaturnedabovecomb,
horncomb,
dotbelowcomb,
commaaccentcomb,
commaaccentcomb.loclMAH,
cedillacomb,
ogonekcomb,
brevebelowcomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
candraBinducomb,
dieresisbelowcomb,
ringbelowcomb,
macronbelowcomb,
strokeshortcomb,
doublemacronbelowcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
commaturnedmod,
commareversedmod,
primemod,
ringhalfleft,
ringhalfright,
verticallinemod,
leftLongArrow2,
rightLongArrow2,
leftLongArrow2.case,
rightLongArrow2.case
)