<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Ahookabove</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>A-cy</string>
      <string>Alpha</string>
      <string>Delta</string>
      <string>Lambda</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Ehookabove</string>
      <string>Etilde</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>S.ss01</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>Uacute</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhookabove</string>
      <string>Utilde</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
    </array>
    <key>public.kern1.dash</key>
    <array>
      <string>hyphen_hyphen</string>
      <string>hyphen_hyphen_hyphen</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>wavedash</string>
      <string>hyphen.case</string>
      <string>endash.case</string>
      <string>emdash.case</string>
    </array>
    <key>public.kern1.dot</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>semicolon</string>
      <string>asterism</string>
    </array>
    <key>public.kern1.emojiRound</key>
    <array>
      <string>globeMeridians</string>
      <string>waxingCrescentMoonSymbol</string>
      <string>firstQuarterMoonSymbol</string>
      <string>waxingGibbousMoonSymbol</string>
      <string>oneClock</string>
      <string>twoClock</string>
      <string>threeClock</string>
      <string>fourClock</string>
      <string>fiveClock</string>
      <string>sixClock</string>
      <string>sevenClock</string>
      <string>eightClock</string>
      <string>nineClock</string>
      <string>tenClock</string>
      <string>elevenClock</string>
      <string>twelveClock</string>
      <string>oneThirtyClock</string>
      <string>twoThirtyClock</string>
      <string>threeThirtyClock</string>
      <string>fourThirtyClock</string>
      <string>fiveThirtyClock</string>
      <string>sixThirtyClock</string>
      <string>sevenThirtyClock</string>
      <string>eightThirtyClock</string>
      <string>nineThirtyClock</string>
      <string>tenThirtyClock</string>
      <string>elevenThirtyClock</string>
      <string>twelveThirtyClock</string>
      <string>grinningFace</string>
      <string>grinningFaceWithSmilingEyes</string>
      <string>faceWithTearsOfJoy</string>
      <string>smilingFaceWithOpenMouth</string>
      <string>smilingFaceWithOpenMouthAndSmilingEyes</string>
      <string>smilingFaceWithOpenMouthAndColdSweat</string>
      <string>smilingFaceWithOpenMouthAndTightlyClosedEyes</string>
      <string>smilingFaceWithSmilingEyes</string>
      <string>relievedFace</string>
      <string>neutralFace</string>
      <string>expressionlessFace</string>
      <string>pensiveFace</string>
      <string>faceWithStuckOutTongue</string>
      <string>faceWithStuckOutTongueAndTightlyClosedEyes</string>
      <string>disappointedFace</string>
      <string>faceWithOpenMouth</string>
      <string>dizzyFace</string>
      <string>faceWithoutMouth</string>
      <string>slightlySmilingFace</string>
      <string>upsideDownFace</string>
      <string>faceWithRollingEyes</string>
      <string>noEntrySign</string>
      <string>snowflake</string>
    </array>
    <key>public.kern1.emojiSquare</key>
    <array>
      <string>keycapNumberSign</string>
      <string>keycapAsterisk</string>
      <string>keycapDigitZero</string>
      <string>keycapDigitOne</string>
      <string>keycapDigitTwo</string>
      <string>keycapDigitThree</string>
      <string>keycapDigitFour</string>
      <string>keycapDigitFive</string>
      <string>keycapDigitSix</string>
      <string>keycapDigitSeven</string>
      <string>keycapDigitEight</string>
      <string>keycapDigitNine</string>
      <string>blackLargeSquare</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>longs</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.hebrewStraight</key>
    <array>
      <string>he-hb</string>
      <string>het-hb</string>
      <string>memFinal-hb</string>
      <string>qof-hb</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icaron</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>ihookabove</string>
      <string>j</string>
      <string>f_f_i</string>
    </array>
    <key>public.kern1.lowerT</key>
    <array>
      <string>t</string>
      <string>f_t</string>
      <string>t_t</string>
    </array>
    <key>public.kern1.lowercaseDescender</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern1.lowercaseHorn</key>
    <array>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
    </array>
    <key>public.kern1.lowercaseRound</key>
    <array>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>ehookabove</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>schwa</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odieresis</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>omacron</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>a.ss01</string>
      <string>e.ss02</string>
      <string>eacute.ss02</string>
      <string>ecaron.ss02</string>
      <string>ecircumflex.ss02</string>
      <string>ecircumflexacute.ss02</string>
      <string>ecircumflexdotbelow.ss02</string>
      <string>ecircumflexgrave.ss02</string>
      <string>ecircumflexhookabove.ss02</string>
      <string>ecircumflextilde.ss02</string>
      <string>edieresis.ss02</string>
      <string>edotaccent.ss02</string>
      <string>edotbelow.ss02</string>
      <string>egrave.ss02</string>
      <string>ehookabove.ss02</string>
      <string>emacron.ss02</string>
      <string>eogonek.ss02</string>
      <string>etilde.ss02</string>
      <string>ie-cy</string>
      <string>o-cy</string>
      <string>er-cy</string>
      <string>ef-cy</string>
      <string>ereversed-cy</string>
      <string>yu-cy</string>
      <string>schwa-cy</string>
      <string>obarred-cy</string>
      <string>theta</string>
      <string>omicron</string>
      <string>rho</string>
      <string>koKai-thai</string>
      <string>khoKhai-thai</string>
      <string>khoKhuat-thai</string>
      <string>khoKhwai-thai</string>
      <string>khoKhon-thai</string>
      <string>khoRakhang-thai</string>
    </array>
    <key>public.kern1.lowercaseRounding</key>
    <array>
      <string>h</string>
      <string>hbar</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>ncommaaccent.loclMAH</string>
    </array>
    <key>public.kern1.lowercaseStraight</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>dcaron</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>gmacron</string>
      <string>jdotless</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhookabove</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>yhookabove</string>
      <string>ytilde</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>a-cy</string>
      <string>ii-cy</string>
      <string>el-cy</string>
      <string>em-cy</string>
      <string>en-cy</string>
      <string>pe-cy</string>
      <string>che-cy</string>
      <string>sha-cy</string>
      <string>yeru-cy</string>
      <string>ya-cy</string>
      <string>mu</string>
    </array>
    <key>public.kern1.lowercaseStraightAscender</key>
    <array>
      <string>d</string>
    </array>
    <key>public.kern1.lowercaseStraightDecender</key>
    <array>
      <string>q</string>
      <string>y</string>
    </array>
    <key>public.kern1.lowercaseX</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y.ss03</string>
      <string>zhe-cy</string>
      <string>ha-cy</string>
    </array>
    <key>public.kern1.parenthesis</key>
    <array>
      <string>parenleft</string>
      <string>braceleft</string>
      <string>bracketleft</string>
      <string>anglebracketleft</string>
      <string>dblanglebracketleft</string>
      <string>tortoiseshellbracketleft</string>
      <string>parenleft.case</string>
      <string>braceleft.case</string>
      <string>bracketleft.case</string>
      <string>anglebracketleft.case</string>
      <string>dblanglebracketleft.case</string>
      <string>tortoiseshellbracketleft.case</string>
    </array>
    <key>public.kern1.quote</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.straightLine</key>
    <array>
      <string>bar</string>
      <string>brokenbar</string>
    </array>
    <key>public.kern1.uppdercaseStraight</key>
    <array>
      <string>Etatonos</string>
      <string>Iotatonos</string>
    </array>
    <key>public.kern1.uppercaseDiagonal</key>
    <array>
      <string>K</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>KaiSymbol</string>
    </array>
    <key>public.kern1.uppercaseHorn</key>
    <array>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
    </array>
    <key>public.kern1.uppercaseRound</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>Schwa</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Gmacron</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohookabove</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Omicron</string>
      <string>zero</string>
      <string>six</string>
      <string>eight</string>
      <string>nine</string>
    </array>
    <key>public.kern1.uppercaseStraight</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>Z</string>
      <string>El-cy</string>
      <string>Ya-cy</string>
      <string>Eta</string>
      <string>Pi</string>
      <string>one</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Ahookabove</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>A-cy</string>
      <string>Alpha</string>
      <string>Delta</string>
      <string>Lambda</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>S.ss01</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>Uacute</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhookabove</string>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
      <string>Utilde</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>Zhe-cy</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
    </array>
    <key>public.kern2.dash</key>
    <array>
      <string>hyphen_hyphen</string>
      <string>hyphen_hyphen_hyphen</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>wavedash</string>
      <string>hyphen.case</string>
      <string>endash.case</string>
      <string>emdash.case</string>
    </array>
    <key>public.kern2.dot</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.emojiRound</key>
    <array>
      <string>globeMeridians</string>
      <string>waxingCrescentMoonSymbol</string>
      <string>firstQuarterMoonSymbol</string>
      <string>waxingGibbousMoonSymbol</string>
      <string>oneClock</string>
      <string>twoClock</string>
      <string>threeClock</string>
      <string>fourClock</string>
      <string>fiveClock</string>
      <string>sixClock</string>
      <string>sevenClock</string>
      <string>eightClock</string>
      <string>nineClock</string>
      <string>tenClock</string>
      <string>elevenClock</string>
      <string>twelveClock</string>
      <string>oneThirtyClock</string>
      <string>twoThirtyClock</string>
      <string>threeThirtyClock</string>
      <string>fourThirtyClock</string>
      <string>fiveThirtyClock</string>
      <string>sixThirtyClock</string>
      <string>sevenThirtyClock</string>
      <string>eightThirtyClock</string>
      <string>nineThirtyClock</string>
      <string>tenThirtyClock</string>
      <string>elevenThirtyClock</string>
      <string>twelveThirtyClock</string>
      <string>grinningFace</string>
      <string>grinningFaceWithSmilingEyes</string>
      <string>faceWithTearsOfJoy</string>
      <string>smilingFaceWithOpenMouth</string>
      <string>smilingFaceWithOpenMouthAndSmilingEyes</string>
      <string>smilingFaceWithOpenMouthAndColdSweat</string>
      <string>smilingFaceWithOpenMouthAndTightlyClosedEyes</string>
      <string>smilingFaceWithSmilingEyes</string>
      <string>relievedFace</string>
      <string>neutralFace</string>
      <string>expressionlessFace</string>
      <string>pensiveFace</string>
      <string>faceWithStuckOutTongue</string>
      <string>faceWithStuckOutTongueAndTightlyClosedEyes</string>
      <string>disappointedFace</string>
      <string>faceWithOpenMouth</string>
      <string>dizzyFace</string>
      <string>faceWithoutMouth</string>
      <string>slightlySmilingFace</string>
      <string>upsideDownFace</string>
      <string>faceWithRollingEyes</string>
      <string>noEntrySign</string>
      <string>snowflake</string>
    </array>
    <key>public.kern2.emojiSquare</key>
    <array>
      <string>keycapNumberSign</string>
      <string>keycapAsterisk</string>
      <string>keycapDigitZero</string>
      <string>keycapDigitOne</string>
      <string>keycapDigitTwo</string>
      <string>keycapDigitThree</string>
      <string>keycapDigitFour</string>
      <string>keycapDigitFive</string>
      <string>keycapDigitSix</string>
      <string>keycapDigitSeven</string>
      <string>keycapDigitEight</string>
      <string>keycapDigitNine</string>
      <string>blackLargeSquare</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_t</string>
    </array>
    <key>public.kern2.h</key>
    <array>
      <string>longs</string>
    </array>
    <key>public.kern2.hebrewRound</key>
    <array>
      <string>kaf-hb</string>
      <string>samekh-hb</string>
    </array>
    <key>public.kern2.hebrewRounded</key>
    <array>
      <string>he-hb</string>
      <string>het-hb</string>
      <string>memFinal-hb</string>
      <string>nunFinal-hb</string>
      <string>nun-hb</string>
      <string>resh-hb</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icaron</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>ihookabove</string>
    </array>
    <key>public.kern2.lowerT</key>
    <array>
      <string>t</string>
      <string>t_t</string>
    </array>
    <key>public.kern2.lowercaseRound</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>ehookabove</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>schwa</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>gmacron</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocaron</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odieresis</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>otilde</string>
      <string>oe</string>
      <string>q</string>
      <string>a.ss01</string>
      <string>e.ss02</string>
      <string>eacute.ss02</string>
      <string>ecaron.ss02</string>
      <string>ecircumflex.ss02</string>
      <string>ecircumflexacute.ss02</string>
      <string>ecircumflexdotbelow.ss02</string>
      <string>ecircumflexgrave.ss02</string>
      <string>ecircumflexhookabove.ss02</string>
      <string>ecircumflextilde.ss02</string>
      <string>edieresis.ss02</string>
      <string>edotaccent.ss02</string>
      <string>edotbelow.ss02</string>
      <string>egrave.ss02</string>
      <string>ehookabove.ss02</string>
      <string>emacron.ss02</string>
      <string>eogonek.ss02</string>
      <string>etilde.ss02</string>
      <string>a-cy</string>
      <string>ie-cy</string>
      <string>o-cy</string>
      <string>es-cy</string>
      <string>ef-cy</string>
      <string>e-cy</string>
      <string>ereversed-cy</string>
      <string>schwa-cy</string>
      <string>obarred-cy</string>
      <string>alpha</string>
      <string>theta</string>
      <string>omicron</string>
      <string>sigma</string>
      <string>koKai-thai</string>
      <string>khoKhai-thai</string>
      <string>khoKhuat-thai</string>
      <string>khoKhwai-thai</string>
      <string>khoKhon-thai</string>
      <string>khoRakhang-thai</string>
    </array>
    <key>public.kern2.lowercaseStraight</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>ndotbelow</string>
      <string>nmacronbelow</string>
      <string>ntilde</string>
      <string>thorn</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>ncommaaccent.loclMAH</string>
      <string>ve-cy</string>
      <string>ge-cy</string>
      <string>geupturn-cy</string>
      <string>ii-cy</string>
      <string>em-cy</string>
      <string>en-cy</string>
      <string>pe-cy</string>
      <string>er-cy</string>
      <string>tse-cy</string>
      <string>sha-cy</string>
      <string>shcha-cy</string>
      <string>softsign-cy</string>
      <string>yeru-cy</string>
      <string>yu-cy</string>
      <string>endescender-cy</string>
      <string>iota</string>
      <string>mu</string>
    </array>
    <key>public.kern2.lowercaseStraightAscender</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>l</string>
    </array>
    <key>public.kern2.lowercaseStraightDecender</key>
    <array>
      <string>p</string>
    </array>
    <key>public.kern2.lowercaseX</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y.ss03</string>
      <string>zhe-cy</string>
      <string>ha-cy</string>
    </array>
    <key>public.kern2.parenthesis</key>
    <array>
      <string>parenright</string>
      <string>braceright</string>
      <string>bracketright</string>
      <string>anglebracketright</string>
      <string>dblanglebracketright</string>
      <string>tortoiseshellbracketright</string>
      <string>parenright.case</string>
      <string>braceright.case</string>
      <string>bracketright.case</string>
      <string>anglebracketright.case</string>
      <string>dblanglebracketright.case</string>
      <string>tortoiseshellbracketright.case</string>
    </array>
    <key>public.kern2.quote</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.straightLine</key>
    <array>
      <string>bar</string>
      <string>brokenbar</string>
    </array>
    <key>public.kern2.tonosCase</key>
    <array>
      <string>Alphatonos</string>
      <string>Epsilontonos</string>
      <string>Etatonos</string>
      <string>Omicrontonos</string>
      <string>Upsilontonos</string>
      <string>Omegatonos</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucaron</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>udieresisacute</string>
      <string>udieresiscaron</string>
      <string>udieresisgrave</string>
      <string>udieresismacron</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhookabove</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>yacute</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>yhookabove</string>
      <string>ytilde</string>
    </array>
    <key>public.kern2.uppdercaseStraight</key>
    <array>
      <string>K</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Lcommaaccent.loclMAH</string>
      <string>Ncommaaccent.loclMAH</string>
      <string>Beta</string>
      <string>Epsilon</string>
      <string>Iotatonos</string>
      <string>KaiSymbol</string>
    </array>
    <key>public.kern2.uppercaseDiagonal</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
    </array>
    <key>public.kern2.uppercaseRound</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>Schwa</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Gmacron</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohookabove</string>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>Omicron</string>
      <string>zero</string>
      <string>six</string>
      <string>eight</string>
      <string>nine</string>
    </array>
    <key>public.kern2.uppercaseStraight</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Ehookabove</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>L</string>
      <string>Lacute</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>R</string>
      <string>Z</string>
      <string>Eta</string>
      <string>Pi</string>
      <string>Rho</string>
    </array>
  </dict>
</plist>
